<html>
<head>
	<title>Natural Language Processing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
	<style type="text/css">
    body {
      padding-top:60px;
      padding-bottom: 60px;
    }
  </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Natural Language Processing and Sentiment Analysis</a>
        </div>
        
    </div>
  </div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<label>Sentimental Analysis</label>
			<textarea id="sentip" class="form-control" rows="3" placeholder="Write your text. Minimum length 10 characters"></textarea>	
		</div>
		<div class="col-md-6">
			<label>Result: </label>
			<p id="sentiresult"></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label>Parts of speech</label>
			<textarea id="posip" class="form-control" rows="3" placeholder="Write your text. Minimum length 10 characters"></textarea>	
		</div>
		<div class="col-md-6">
			<label>Result: </label>
			<p id="posresult"></p>
		</div>
	</div>
	<div class="row">
	<div class="col-md-6">
			<label>Word Lemmetization</label>
			<textarea id="lemip" class="form-control" rows="3" placeholder="Write words."></textarea>	
		</div>
		<div class="col-md-6">
			<label>Result: </label>
			<p id="lemresult"></p>
		</div>
	</div>
	<div class="row">
	<div class="col-md-6">
			<label>Language Translation</label>
			<textarea id="ltip" class="form-control" rows="3" placeholder="Write words."></textarea>	
		</div>
		<div class="col-md-6">
			<label>Result: </label>
			<p id="ltresult"></p>
		</div>
	</div>
	<div class="row">
	<div class="col-md-6">
			<label>Spelling Correction</label>
			<textarea id="scip" class="form-control" rows="3" placeholder="Write words."></textarea>	
		</div>
		<div class="col-md-6">
			<label>Result: </label>
			<p id="scresult"></p>
		</div>
	</div>
</div>


<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript">
	$("#sentip").keyup(function(e){
		console.log('keycode '+e.keyCode);
		switch (e.keyCode) {
            case 8:  // Backspace
                console.log('backspace'+e);
            case 9:  // Tab
            	console.log('Tab');
            case 13: // Enter
            	console.log('Enter');
            case 37: // Left
            	console.log('Left');
            case 38: // Up
            	console.log('Up');
            case 39: // Right
            	console.log('Right');
            case 40: // Down
            	console.log('Down');
            break;
            default:
            var input = $('#sentip').val();
            $('#sentiresult').removeClass("alert alert-warning");
            $('#sentiresult').removeClass("alert alert-danger");
            $('#sentiresult').removeClass("alert alert-success");
            if (input.length > 10){
			
			$.get('/api/v1/sentiment/'+input,function(result){
				console.log(result.polarity);
				if(result.polarity < 0.0){
					console.log('less than 0');
					$('#sentiresult').addClass("alert alert-danger").html(input+"<br/><br/>Sentiment: NEGATIVE");
				} else if( result.polarity >= 0.0 && result.polarity <= 0.2){
					console.log('between 0 and 0.5');
					$('#sentiresult').addClass("alert alert-warning").html(input+"<br/><br/>Sentiment: NEUTRAL");
				}else{
					console.log('Greater than 0.5');
					$('#sentiresult').addClass("alert alert-success").html(input+"<br/><br/>Sentiment: POSITIVE");
				}
				
			})
		}
	}
    
	});
	$("#posip").keyup(function(e){
		console.log('keycode '+e.keyCode);
		switch (e.keyCode) {
            case 8:  // Backspace
                console.log('backspace'+e);
            case 9:  // Tab
            	console.log('Tab');
            case 13: // Enter
            	console.log('Enter');
            case 37: // Left
            	console.log('Left');
            case 38: // Up
            	console.log('Up');
            case 39: // Right
            	console.log('Right');
            case 40: // Down
            	console.log('Down');
            break;
            default:
            var input = $('#posip').val();
            $('#posresult').removeClass("alert alert-success");
	    $.get('/api/v1/pos/'+input,function(result){
	    	$('#posresult').addClass("alert alert-success").html("Parts of speech:<br/>"+result.pos);
	    })
	}
    
	});
	
	
	$("#lemip").keyup(function(e){
		console.log('keycode '+e.keyCode);
		switch (e.keyCode) {
            case 8:  // Backspace
                console.log('backspace'+e);
            case 9:  // Tab
            	console.log('Tab');
            case 13: // Enter
            	console.log('Enter');
            case 37: // Left
            	console.log('Left');
            case 38: // Up
            	console.log('Up');
            case 39: // Right
            	console.log('Right');
            case 40: // Down
            	console.log('Down');
            break;
            default:
            var input = $('#lemip').val();
            $('#lemresult').removeClass("alert alert-warning");
	    $.get('/api/v1/lem/'+input,function(result){
	    	$('#lemresult').addClass("alert alert-warning").html("Lemmetized Word: "+result.lem+"<br/>Lemmetized Word to verb: "+result.lemv+"<br/>Definition of word: "+result.defn);
	    })
	}
    
	});
	
	$("#ltip").keyup(function(e){
		console.log('keycode '+e.keyCode);
		switch (e.keyCode) {
            case 8:  // Backspace
                console.log('backspace'+e);
            case 9:  // Tab
            	console.log('Tab');
            case 13: // Enter
            	console.log('Enter');
            case 37: // Left
            	console.log('Left');
            case 38: // Up
            	console.log('Up');
            case 39: // Right
            	console.log('Right');
            case 40: // Down
            	console.log('Down');
            break;
            default:
            var input = $('#ltip').val();
            $('#ltresult').removeClass("alert alert-success");
	    $.get('/api/v1/langtrans/'+input,function(result){
	    	$('#ltresult').addClass("alert alert-success").html("Language Translation:<br/>French: "+result.french+"<br/>Spanish: "+result.spanish);
	    })
	}
    
	});
	
	$("#scip").keyup(function(e){
		console.log('keycode '+e.keyCode);
		switch (e.keyCode) {
            case 8:  // Backspace
                console.log('backspace'+e);
            case 9:  // Tab
            	console.log('Tab');
            case 13: // Enter
            	console.log('Enter');
            case 37: // Left
            	console.log('Left');
            case 38: // Up
            	console.log('Up');
            case 39: // Right
            	console.log('Right');
            case 40: // Down
            	console.log('Down');
            break;
            default:
            var input = $('#scip').val();
            $('#scresult').removeClass("alert alert-success");
	    $.get('/api/v1/spellcheck/'+input,function(result){
	     	$('#scresult').addClass("alert alert-danger").html("Is Correct:<br/>"+result.chk+"<br/>Corrected: "+result.crt);
	    })
	}
    
	});
</script>
</body>
</html>
